<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/loginForm.css') }}">
        <script src="{{ url_for('static', filename='LoginForm.js') }}"></script>
        <title>CookEaseAI</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg">
            <span class="navbar-brand mb-0 h1">CookEaseAI</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="view_nutrition_info">View Nutrition Info</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </nav>

        <div class="landing-block">
            <div class="images">
                <img src="https://images.unsplash.com/photo-1556911261-6bd341186b2f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvb2tpbmd8ZW58MHx8MHx8fDA%3D" alt="Food Image 1">
                <img src="https://images.unsplash.com/photo-1605522469906-3fe226b356bc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvb2tpbmd8ZW58MHx8MHx8fDA%3D" alt="Food Image 2">
                <img src="https://images.unsplash.com/photo-1470549813517-2fa741d25c92?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjN8fGNvb2tpbmd8ZW58MHx8MHx8fDA%3D" alt="Food Image 3">
                <img src="https://images.unsplash.com/photo-1605522561233-768ad7a8fabf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNvb2tpbmd8ZW58MHx8MHx8fDA%3D" alt="Food Image 4">
            </div>
            <p id="first">From Idea to Plate</p>
            <p id="second">AI-Crafted Recipes for Your Lifestyle!</p>
        </div>

        <div class="login-form">
            <br>
            <form id="login-form">
                <div class="btn-div">
                    <button type="button" class="gsi-material-button" onclick="window.location.href='/login'">
                        <div class="gsi-material-button-state"></div>
                        <div class="gsi-material-button-content-wrapper">
                        <div class="gsi-material-button-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                            <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                            <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                            <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                            <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                            <path fill="none" d="M0 0h48v48H0z"></path>
                            </svg>
                        </div>
                        <span class="gsi-material-button-contents">Sign in with Google</span>
                        <span style="display: none;" >Sign in with Google</span>
                        </div>
                    </button>
                </div>
              
                <div class="separator"> or </div>
                
                <div class="input-info">
                    <div class="form-group">
                        <label for="exampleUserName">Username</label>
                        <input type="text" class="form-control" id="username" autocomplete="off" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" autocomplete="off" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" autocomplete="off" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
                </div>
            </form>
        </div>    
    </body>
</html>